#fundo_unicesumar, #fundo_educa, #fundo_certificado, #fundo_curriculo {
    opacity: 0.8;
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 98;
    top: 0;
    left: 0;
    display: none;
  }
  
  #modal_unicesumar, #modal_educa, #modal_certificado, #modal_curriculo {
    width: 920px;
    height: 1300px;
    left: 20%;
    top: 20%;
    margin: -75px 0 0 -75px;
    position: absolute;
    background-color: #fff;
    z-index: 99;
    display: none;
  }
  .unicesumar, .educa, .certificado, .curriculo {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:20px;
    text-shadow:5px 5px 5px #cababa;
    background: transparent;
  }
  .unicesumar:hover, .educa:hover, .certificado:hover, .curriculo:hover {
    font-size: 21px;
    color:#dfdc27;
  }
  .fechar {
    text-decoration: none;
  }
  .texto {
    color: #fff;
  }
  .curriculo_img, .curriculo_img-img{
    width: 100%;
    height: 100%;
  }
 